@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Acosta Ballesteros

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #212121;
$secondary_color: #f48120;
$tertiary_color: #ec1c24;
$background: #f2f2f2;
$border: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #212121;
	.moduletable_to1 {
		font-size: 12px;
		text-align: center;
		a {
			color: #fff;
		}
	}
	.moduletable_to2 {
		padding: 20px 0;
	}
	.moduletable_to3 {
		#a {
			p {
				margin: 0;
			}
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
		.menu-cart-menu-container {
			ul.menu {
				li {
					display: contents;
					a {
						width: 100%;
						padding: 5px;
						font-size: 12px;
						color: #fff;
						text-align: center;
						display: block;
						i {
							margin-bottom: 5px;
							font-size: 24px;
							display: block !important;
						}
						.cartcontents {
							margin-bottom: 5px;
							color: #f48120;
							display: block !important;
						}
					}
				}
			}
		}
	}
}

.top_1 {
	background-color: #0a0a0a;
	.moduletable_to4 {
		padding: 15px 0;
	}
	.moduletable_to5 {
		padding: 2px;
		background-color: #262626;
		border-radius: 5px;
		.woocommerce-product-search {
			input[type=search] {
				width: 80%;
				height: inherit;
				margin: 0;
				padding: 5px;
				background-color: transparent;
				border: 0;
				border-radius: 0;
				font-size: 14px;
				color: #a0a09f;
				float: left;
				position: relative;
				&::placeholder {
					color: #a0a09f;
				}
			}
			[type=submit] {
				width: 20%;
				height: 30px;
				background: {
					image: url(moduletable_to5_button_bg.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 0;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Submenu */

.submenu {
	padding: 20px 0;
	ul.menu {
		border-bottom: 1px solid #000;
		li {
			margin-bottom: 5px;
			padding: 0 5px;
			&.current-menu-parent,
			&.current-menu-item,
			&.current_page_parent {
				a {
					border: 1px solid $secondary_color;
					color: $secondary_color;
				}
			}
			a {
				padding: 5px 10px;
				border: 1px solid transparent;
				color: #000;
				text-transform: uppercase;
				&:hover {
					border: 1px solid $secondary_color;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	font-size: 16px;
	h1 {
		width: fit-content;
		padding: 0 20px;
		border-left: 1px solid #212121;
		font: {
			size: 24px;
			weight: bold;
		}
		color: #212121;
		&.text-center {
			margin: auto;
			margin-bottom: 20px;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.woocommerce {
		ul.products {
			li {
				border: 1px solid #000;
				a {
					display: block;
					img {
						margin: 0;
					}
					h2.woocommerce-loop-product__title {
						min-height: 78px;
						margin: 10px 0 0 0;
						padding: 0 10px 10px 10px;
						border-bottom: 1px solid #000;
						font: {
							size: 16px;
							weight: bold;
						}
						color: #212121;
						text: {
							align: center;
							transform: uppercase;
						}
					}
					.price {
						margin: 0;
						padding: 10px;
						color: #212121;
						text-align: center;
						display: flex;
						span.woocommerce-Price-amount {
							width: 50%;
							&:nth-child(1) {
								&:before {
									content: 'UNIDAD ';
									font-weight: bold;
								}
							}
							&:nth-child(2) {
								&:before {
									content: 'CAJA ';
									font-weight: bold;
								}
							}
						}
					}
				}
				a.button {
					margin: 0;
					background: {
						color: #212121;
						image: url(icon_cart.png);
						position: right;
						repeat: no-repeat;
					}
					border-radius: 0;
					color: #fff;
					text-align: left;
				}
			}
		}
		.product {
			h1.product_title {
				width: 100%;
				margin-bottom: 20px;
				padding: 0;
				border: 0;
				font-size: 40px;
				text-align: right;
			}
			.price {
				margin-bottom: 20px;
				font-size: 40px;
				color: #f48120;
				text-align: right;
			}
			table.variations {
				tbody {
					tr {
						td {
							&.label {
								padding: 10px !important;
								background-color: transparent;
							}
							&.value {
								padding: 10px !important;
								select {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
		a {
			&.add-request-quote-button {
				background-color: $secondary_color;
				color: #fff,
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: #212121;
	.moduletable_b11 {
		h3 {
			margin: 0;
			font: {
				size: 30px;
				weight: bold;
			}
			text-transform: uppercase;
			a {
				color: #fff;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	background-color: #212121;
	.moduletable_b21 {
		h2 {
			width: fit-content;
			padding: 0 20px;
			border-left: 1px solid #fff;
			font-size: 24px;
			color: #fff;
			&.text-center {
				margin: auto;
			}
		}
		figure {
			border: 1px solid #000;
			a.wpb_pro_img_url {}
			figcaption {
				background-color: #fff;
				a.wpb-wps-product-title {
					h3.pro_title {
						margin: 10px 0 0 0;
						padding: 0 10px 10px 10px;
						border-bottom: 1px solid #000;
						font: {
							size: 16px;
							weight: bold;
						}
						color: #212121;
					}
				}
				.pro_price_area {
					width: 80%;
					margin: 0;
					padding-top: 3px;
					color: #212121;
					display: flex;
					float: left;
					position: relative;
					span.woocommerce-Price-amount {
						width: 50%;
						&:nth-child(1) {
							&:before {
								content: 'UNIDAD ';
								font-weight: bold;
							}
						}
						&:nth-child(2) {
							&:before {
								content: 'CAJA ';
								font-weight: bold;
							}
						}
					}
				}
				.wpb_cart_button {
					width: 20%;
					background-color: #212121;
					float: right;
					position: relative;
					a.button {
						width: 40px;
						height: 40px;
						margin: 0;
						padding: 0;
						background: {
							color: transparent;
							image: url(icon_cart.png);
							position: center;
							repeat: no-repeat;
						}
						font-size: 0;
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: #212121;
	.moduletable_b31 {
		h3 {
			width: fit-content;
			padding: 0 20px;
			border-left: 1px solid #fff;
			font-size: 24px;
			color: #fff;
			&.text-center {
				margin: auto;
			}
		}
		h4 {
			font-size: 18px;
			a {
				color: #bababa;
			}
		}
	}
}

/* Block 3 */

.block_4_h3 {
	width: fit-content;
	margin: 30px auto;
	padding: 0 20px;
	border-left: 1px solid #212121;
	font-size: 24px;
	color: #212121;
}

.block_4 {
	padding: 90px 0 30px 0;
	background: {
		image: url(block_4_bg.png);
		position: top;
		repeat: no-repeat;
		size: 100%;
	}
	.moduletable_b41 {
		.wpcf7-form {
			[type=text],
			[type=tel],
			[type=email],
			textarea {
				padding: 25px;
				border-radius: 0;
				color: #3a3a3a;
				&::placeholder {
					color: #3a3a3a;
				}
			}
			.button {
				width: 100%;
				padding: 18px 0;
				background-color: #212121;
				border-radius: 0;
				color: #f48120;
				display: block;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: #212121;
	.moduletable_bo1 {
		color: #7d7d7d;
		h3 {
			font-size: 14px;
			color: #fff;
		}
		ul {
			list-style: none;
			margin: 0;
		}
		a {
			color: #7d7d7d;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #0a0a0a;
	color: #7d7d7d;
	a {
		color: #7d7d7d;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		padding: 10px 0;
		.moduletable_to2 {
			padding: 10px 0;
		}
		.moduletable_to3 {
			#a {
				p.text-right {
					text-align: center;
				}
			}
		}
	}

	.top_1 {
		padding: 10px 0;
		.moduletable_to4 {
			padding: 0 0 0 10px 0;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}