@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Acosta Ballesteros

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #f48120;
$tertiary_color: #ec1c24;
$background: #f2f2f2;
$border: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #000;
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 2px solid $secondary_color;
								color: $secondary_color;
							}
						}
						a {
							padding: 10px 16px;
							border-bottom: 2px solid transparent;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								border-bottom: 2px solid $secondary_color;
								color: $secondary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							padding: 10px;
							background-color: $secondary_color;
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid #fff;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: 1px solid transparent;
									color: #fff;
									z-index: 100;
									&:hover {
										border: 1px solid #fff;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Submenu */

.submenu {
	padding: 20px 0;
	ul.menu {
		border-bottom: 1px solid #000;
		li {
			margin-bottom: 5px;
			padding: 0 5px;
			&.current-menu-parent,
			&.current-menu-item,
			&.current_page_parent {
				a {
					border: 1px solid $secondary_color;
					color: $secondary_color;
				}
			}
			a {
				padding: 5px 10px;
				border: 1px solid transparent;
				color: #000;
				text-transform: uppercase;
				&:hover {
					border: 1px solid $secondary_color;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 30px;
		font: {
			size: 24px;
			weight: bold;
		}
		color: $tertiary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid #000;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		a {
			&.add-request-quote-button {
				background-color: $secondary_color;
				color: #fff,
			}
		}
	}
}

/* Block 1 */

.block_1_h3 {
	margin-bottom: 10px;
	padding-bottom: 20px;
	background: {
		image: url(block_1_h3_arrow_bg.png);
		position: bottom;
		repeat: no-repeat;
	}
	font: {
		size: 24px;
		weight: bold;
	}
	color: $secondary_color;
}

.block_1 {
	padding: 30px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		h3 {
			padding: 5px;
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 22px;
				weight: bold;
			}
			color: #fff;
			text-transform: uppercase;
		}
		p img {
			max-width: 100%;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		p:hover img {
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		p {
			margin: 0;
			a {
				margin: 0 40px;
				display: inline-block;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0 30px 0;
	background-color: #000;
	.moduletable_bo1 {
		font-size: 24px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}